################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProductManagementApis/.vs
/ProductManagementApis/ProductManagementApis/bin/Debug/net8.0
/ProductManagementApis/ProductManagementApis/obj
/ProductManagementClient/.vscode
